body {
  background-color: rgb(202, 179, 223);
  text-align: justify;
  margin: 20;
}

#header img {
  height: 120px;
}

#header p {
  font-size: 1.5em;
}

caption {
  font-size: 1.5em;
}

table,
td,
th {
  border-style: solid;
  padding: 0.4em;
}

footer {
  background: linear-gradient(to right, #1f065e, #7c53e4);
  color: white;
  padding: 16px;
  margin-top: auto;
  position: relative;
  width: 100vw;
  left: -10px;
}

footer a {
  color: aquamarine;
}
